<a href="https://colab.research.google.com/github/smnhree/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95_%EC%8B%A4%EC%8A%B5%EC%99%84%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 첫 4개의 원소 출력
first_four = numbers[:4]
print(first_four)

# 뒤 3개의 원소를 출력
last_three = numbers[-3:]
print(last_three)

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[::2]
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1]
print(reverse_list)

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[:2]
print(first_two_rows)

# 첫 두 열 출력
first_two_columns = [row[:2] for row in matrix]
print(first_two_columns)

## 2-2 리스트 컴프리헨션

In [ ]:
numbers = [ ]

# 0 ~ 4 포함 리스트 생성
numbers = [i for i in range(5)]

print(numbers)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
squares = [i ** 2 for i in numbers]

print(squares)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
even_numbers = [i for i in numbers if i % 2 == 0]

print(even_numbers)

In [ ]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
pairs = [(fruit, product) for fruit in list1 for product in list2]

# 풀어쓰기
# for fruit in list1:
#     for product in list2:
#         pairs.append((fruit, product))

print(pairs)

In [ ]:
squares = { }

# 딕셔너리 생성
# for i in range(5):
#     squares[i] = i ** 2

squares = {i: i ** 2 for i in range(5)}

print(squares)

In [ ]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
large_cities = {city: pop for city, pop in city_population.items() if pop >= 200}
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {city: pop for city, pop in city_population.items() if pop >= 300 and '산' in city }

print(large_short_name_cities)

## 2-3 문자열 형식화

In [ ]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = "이름: %s, 나이: %d세, 월급: %d원" % (name, age, salary)

print(basic_format)

In [ ]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = "이름: {}, 나이: {}세, 월급: {}원".format(name, age, salary)

# 직원이름, 나이, 세후 월급 출력
index_format = "이름: {0}, 나이: {1}세, 세후 월급: {2}원".format(name, age, int(salary * (1 - tax_rate)))

# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = "이름: {employee}, 나이: {years}세, 월급:{income:,}원, 세율: {tax_rate:.1%}, 세금: {tax:,}원, 실수령액: {net_income}원".format(employee=name, years=age, income=salary, tax_rate=tax_rate, tax=int(salary * tax_rate), net_income=int(salary * (1 - tax_rate)))

print(basic_format)
print(index_format)
print(keyword_format)

In [ ]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = f"이름: {name}, 나이: {age}세, 월급: {salary:,}원"

# 직원이름, 나이, 세후 월급 출력
index_format = f"이름: {name}, 나이: {age}세, 세후 월급: {int(salary * (1 - tax_rate)):,}원"

# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = f"이름: {name}, 나이: {age}세, 세율: {tax_rate:.1%}, 세금: {int(salary * tax_rate):,}원, 세후 월급: {int(salary * (1 - tax_rate)):,}원"

print(basic_format)
print(index_format)
print(keyword_format)

## 2-4 컨텍스트 관리

In [ ]:
# 파일 오픈 & 클로즈
with open('output.txt', 'w') as file_write:
    file_write.write('Hello, world!\n')

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리

In [ ]:
import urllib.request

# URL 연결 관리
('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)